<!DOCTYPE html>
{% extends 'polls/main.html' %}

<html lang="en">
<head>
    {% block head %}
    <title>{{ question.question_text }}</title>
    {% endblock %}
</head>
<body>
{% block content %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">{% csrf_token %}

{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
    <p>Below this is where it at </p>
    <p>{{ form2.as_p }}</p>

    <!--<textarea row="4" cols="50" name="comment" form="form"></textarea>-->
<input type="submit" value="Vote" />
</form>

{% endblock %}

</body>

</html>