<!DOCTYPE html>
{% extends 'polls/main.html' %}

<html lang="en">
<head>
    {% block head %}
    <title>{{ question.question_text }}</title>
    {% endblock %}
</head>
<body>
{% block content %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/voting.css' %}">
<div class="container">
<div class="form">
<h2>{{ question.question_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">{% csrf_token %}


    {% if a == 2 %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
    <!--<p>Write  </p>-->

    <p>{{ form2.as_p }}</p>
    {% endif %}
<input class="button" type="submit" value="Vote" />


</form>

    </div>
    </div>
{% endblock %}

</body>

</html>