{% extends 'polls/main.html' %}

{#for some reason I could not display anything that was not included within the jumbotron#}

{% block content %}

{#Jumbotron for frontpage information#}
<div class="jumbotron">
  <h1>HackerPack Dashboard</h1>
  <p>Currently we are using this dashboard to allow you all to take polls to help us understand and improve
  our team dynamics</p>
  <p>
      {#    button, no use now but we can use it later#}
{#      <a class="btn btn-primary btn-lg" href="#" role="button">Take a poll</a></p>#}
</div>



    {% if latest_question_list %}

        <ul class="list-group">
    <link rel="stylesheet" type="text/css" href="../../static/css/polls.css">
        {% for question in latest_question_list %}
            <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}
