/** {*/
    /*margin: 0;*/
/*}*/
/*html, body {*/
    /*height: 100%;*/
/*}*/
/*.wrapper {*/
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*!*height: 100%;*!*/
    /*margin: 0 auto -155px; !* the bottom margin is the negative value of the footer's height *!*/
/*}*/
/*.footer, .push {*/
    /*height: 155px; !* .push must be the same height as .footer *!*/
/*}*/
  /*html {*/
  /*position: relative;*/
  /*min-height: 100%;*/
/*}*/
/*body {*/
  /*!* Margin bottom by footer height *!*/
  /*margin-bottom: 60px;*/
/*}*/



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  overflow: auto
}

.container2 {
      position: center;
      float: left;
      text-align: center;
  padding: 10px;
}

.line {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.line li {
    display: inline;
    padding: 25px;
    /*margin-top: 10px;*/
}