{% extends 'polls/main.html' %}
<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        {% block content %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
{% endif %}
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <h1>Login</h1>
        <form method="POST" action=""> {% csrf_token %}
            Username: <br>
            <input type="text" name="username">
            <br>
            Password: <br>
            <input type="text" name="password">
            <br>
            <input type="submit" value="Submit">
        </form>
        Need a account? <a href="{% url 'polls:register' %}"> Click here </a>to sign up
        <br>
        <a href="{% url 'polls:logout_user' %}">Logout</a>

    {% endblock %}
    </body>
</html>